# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment Variables
.env

# Data (large files - not tracked in git)
data/raw/*.csv
data/raw/*.xlsx
!data/raw/.gitkeep

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
grafana_data/
kafka_data/

# Logs
logs/
*.log

# Spark
spark-warehouse/
metastore_db/
derby.log

# Jupyter
.ipynb_checkpoints/
